.login_grid {
  height: 100%;
}

.login_backdrop {
  -webkit-transition: opacity 0.75s ease-in-out;
  -moz-transition: opacity 0.75s ease-in-out;
  -o-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-right: -15px;
  margin-left: -15px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.login_form_container {
  padding-top: 40px;
  padding-bottom: 40px;
}

